.footer {
  background: -webkit-linear-gradient(171deg, #1c1d25, #0a0a0d);
  background: linear-gradient(171deg, #1c1d25, #0a0a0d); }

.footer {
  height: 400px;
  width: 100%;
  color: #b8bad0; }

.footer__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  box-sizing: content-box; }

.footer__block {
  width: 100%;
  opacity: 0;
  transform: translate(10%, 0);
  transition: 1s ease; }

.footer__block._intersection {
  transform: translate(0, 0);
  opacity: 1; }

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.footer__el_logo {
  margin-bottom: 30px;
  margin-top: 50px;
  font-size: 7.2rem;
  text-align: center; }
  .footer__el_logo a {
    color: inherit;
    text-shadow: 0 0 10px black; }

.footer__el_ip {
  font-size: 3.2rem;
  margin-bottom: 30px;
  font-weight: 600;
  white-space: nowrap; }

.footer__el_tel {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 100;
  transition: 0.3s ease; }
  .footer__el_tel a {
    color: inherit; }

._desk .footer__el_tel:hover {
  color: white;
  transform: scale(1.2, 1.2); }

.footer__el_email {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 100;
  transition: 0.3s ease; }
  .footer__el_email a {
    color: inherit; }

._desk .footer__el_email:hover {
  color: white;
  transform: scale(1.2, 1.2); }

.footer__el_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3.2rem;
  margin-bottom: 40px; }
  .footer__el_links a {
    color: inherit; }
  .footer__el_links div {
    transition: 0.3s ease;
    cursor: pointer; }
  .footer__el_links div:not(:last-child) {
    margin-right: 50px; }

._desk .footer__el_links div:hover {
  color: white;
  transform: scale(1.2, 1.2); }

.footer__el_rights {
  font-size: 1.2rem; }
