@charset "UTF-8";
.mobile-menu, .first, .about-popup__black, .section-rates__el, .works, ::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(171deg, #1c1d25, #0a0a0d);
  background: linear-gradient(171deg, #1c1d25, #0a0a0d); }

.mobile-menu, .first, .about-popup__black, .section-rates__el, .works, ::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(171deg, #1c1d25, #0a0a0d);
  background: linear-gradient(171deg, #1c1d25, #0a0a0d); }

/*Drop*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
html {
  font-family: "PT sans", Helvetica, Arial, sans-serif;
  color: white;
  scroll-behavior: smooth; }

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  transition: ease 0.3s; }

._container {
  max-width: 1076px;
  margin: 0 auto; }

._section {
  margin-bottom: 50px; }

.title {
  font-size: 7.8rem;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 50px; }

.paragraph {
  font-size: 2.4rem;
  margin-bottom: 30px; }

.button {
  height: 60px;
  width: 200px;
  font-size: 2.1rem;
  font-weight: 600;
  color: #1c1d25;
  transition: 0.3s ease;
  position: relative;
  border-radius: 10px;
  background: -webkit-linear-gradient(60deg, cyan, #6fffff, #b7ffff);
  background: linear-gradient(60deg, cyan, #8affff, #b7ffff); }
  .button:hover::after {
    animation: none; }

._desk .button:hover {
  transform: scale(1.1, 1.1);
  box-shadow: -5px -5px 0 rgba(0, 255, 255, 0.6), -10px -10px 0 rgba(0, 255, 255, 0.3); }

@font-face {
  font-family: Cinzel;
  src: url("../fonts/cinzel.ttf"); }

body._scrollDisable {
  overflow: hidden; }

.main {
  flex: 1 1 auto; }

.mobile-menu {
  position: fixed;
  height: 100%;
  width: 70px;
  right: -70px;
  top: 0;
  z-index: 1000;
  transition: ease 0.3s;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3); }

.mobile-menu._active {
  right: 0; }

.mobile-menu__burger_container {
  position: absolute;
  top: 70px;
  left: -50px;
  width: 50px;
  height: 50px;
  background-color: #1c1d25;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .mobile-menu__burger_container::after {
    content: "→";
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translate(0, -60%);
    color: #b8bad0;
    font-size: 3.2rem;
    animation: burgerArrow ease 1s alternate infinite;
    transition: 0.3s ease; }

.mobile-menu__burger {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.3s ease; }
  .mobile-menu__burger span, .mobile-menu__burger::before, .mobile-menu__burger::after {
    height: 2px;
    position: absolute;
    width: 100%;
    background-color: #b8bad0;
    transition: 0.3s ease; }
  .mobile-menu__burger span {
    top: 50%;
    transform: translate(0, -50%); }
  .mobile-menu__burger::before, .mobile-menu__burger::after {
    content: ""; }
  .mobile-menu__burger::before {
    top: 0; }
  .mobile-menu__burger::after {
    bottom: 0; }

._desk .mobile-menu__burger_container._hidden::after {
  opacity: 0; }

.mobile-menu__burger_container._disable::after {
  opacity: 0; }

._desk .mobile-menu__burger:hover {
  transform: scale(1.2, 1.2); }
  ._desk .mobile-menu__burger:hover span, ._desk .mobile-menu__burger:hover::before, ._desk .mobile-menu__burger:hover::after {
    background-color: white; }

.mobile-menu__burger._active span {
  opacity: 0; }

.mobile-menu__burger._active::before {
  top: 50%;
  transform: translate(0, -50%) rotate(45deg); }

.mobile-menu__burger._active::after {
  transform: translate(0, 50%) rotate(-45deg);
  bottom: 50%; }

.mobile-menu__contacts {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .mobile-menu__contacts li:not(:last-child) {
    margin-bottom: 25px; }
  .mobile-menu__contacts li {
    font-size: 2.7rem;
    transition: ease 0.3s;
    color: #b8bad0; }
  .mobile-menu__contacts li a {
    color: inherit; }

._desk .mobile-menu__contacts li:hover {
  transform: scale(1.2, 1.2);
  color: white; }

.first {
  display: flex;
  align-items: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  position: relative;
  margin-bottom: 0;
  height: 100vh; }

.first__paral_top {
  width: 400%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -1000px;
  z-index: 0;
  background: url(../img/svg/spaceBot.svg); }
  .first__paral_top {
    animation: backUp linear 70s infinite alternate; }

.first__paral_bot {
  width: 400%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -1000px;
  z-index: 0;
  background: url(../img/svg/spaceTop.svg); }
  .first__paral_bot {
    animation: backUp linear 70s infinite alternate-reverse; }

.first__commet {
  display: none;
  position: absolute;
  top: -100px;
  left: 0;
  width: 600px;
  height: 600px;
  animation: commet infinite 30s ease 5s;
  left: -999;
  transform: rotate(-90deg) scale(4, 4);
  background: url(../img/svg/commet.svg) center; }

.first__text {
  z-index: 1; }

.first__container {
  z-index: 2;
  display: flex;
  flex-grow: 1;
  padding-left: 100px;
  justify-content: space-between;
  align-items: center; }

.first__title {
  letter-spacing: 2px;
  line-height: 90px;
  display: flex;
  flex-wrap: wrap;
  animation: appear ease 1s; }
  .first__title div:first-child {
    margin-right: 20px; }
  .first__title span {
    display: inline-block; }
  .first__title span:nth-child(odd) {
    animation: 2s firstLettersUp alternate infinite; }
  .first__title span:nth-child(even) {
    animation: 2s firstLettersDown alternate infinite; }

.first__paragraph {
  font-style: italic;
  color: #b8bad0;
  font-weight: 300;
  animation: appear ease 1.3s; }
  .first__paragraph span {
    display: inline-block; }
  .first__paragraph span:nth-child(even) {
    animation: 2s firstLettersUpPar alternate infinite; }
  .first__paragraph span:nth-child(odd) {
    animation: 2s firstLettersDownPar alternate infinite; }

.first__button {
  margin-top: 40px;
  animation: appear ease 1.5s;
  position: relative;
  animation: buttonHover ease 2s alternate infinite; }
  .first__button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid rgba(0, 255, 255, 0.5);
    border-radius: 10px;
    animation: buttonAttention ease 1.5s infinite; }

.first__button._disable::after {
  display: none;
  opacity: 0; }

.first__contacts {
  z-index: 20; }

.first__el {
  font-size: 2.4rem;
  color: #b8bad0;
  cursor: pointer;
  transition: 0.3s; }
  .first__el a {
    color: inherit; }
  .first__el:hover {
    color: white; }
  .first__el:not(:last-child) {
    margin-bottom: 25px; }

.back {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none; }

.back._active {
  display: block;
  animation: back 1s ease; }

.about-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1076px;
  height: 600px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  display: none; }

.about-popup._active {
  display: flex; }

.about-popup__cross {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 40px;
  top: 40px;
  opacity: 0;
  transition: ease 0.3s;
  z-index: 1000; }
  .about-popup__cross::after, .about-popup__cross::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #b8bad0;
    transition: ease 0.3s; }
  .about-popup__cross::after {
    transform: translate(0, -50%) rotate(45deg); }
  .about-popup__cross::before {
    transform: translate(0, -50%) rotate(-45deg); }

#mobCross {
  display: none; }
  #mobCross::after, #mobCross::before {
    background-color: #1c1d25; }

.about-popup._active .about-popup__cross {
  opacity: 1; }

._desk .about-popup__cross:hover::after {
  transform: rotate(-45deg) scale(1.2, 1.2);
  background-color: white; }

._desk .about-popup__cross:hover::before {
  transform: rotate(45deg) scale(1.2, 1.2);
  background-color: white; }

.about-popup__white {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  background: url(../img/svg/whiteBack.svg) center center;
  color: #1c1d25;
  border-radius: 10px 0 0 10px;
  height: 100%;
  width: 50%;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease 1s; }
  .about-popup__white span {
    color: #6fffff; }

.about-popup._active .about-popup__white {
  animation: whitePopup 1s ease; }

.about-popup__list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }
  .about-popup__list li {
    width: 100%; }

.about-popup__el_title {
  font-size: 5.2rem;
  font-weight: 900;
  margin-bottom: 10px; }

.about-popup__el_subtitle {
  font-size: 1.7rem;
  margin-bottom: 40px;
  font-weight: 500; }

.about-popup__el_paragraph {
  font-size: 1.8rem;
  margin-bottom: 90px;
  font-weight: 100; }

.about-popup__el_tec {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .about-popup__el_tec div:not(:last-child) {
    margin-right: 5px; }
  .about-popup__el_tec div {
    color: #1c1d25;
    font-size: 6.2rem;
    cursor: pointer;
    position: relative;
    transition: ease 0.3s; }
    .about-popup__el_tec div::after {
      content: "";
      font-size: 1.4rem;
      position: absolute;
      display: block;
      top: 100px;
      left: 50%;
      transform: translate(-50%, 0);
      opacity: 0;
      text-align: center;
      transition: ease 0.3s; }
    .about-popup__el_tec div:nth-child(1)::after {
      content: "JS"; }
    .about-popup__el_tec div:nth-child(2)::after {
      content: "React"; }
    .about-popup__el_tec div:nth-child(3)::after {
      content: "PHP"; }
    .about-popup__el_tec div:nth-child(4)::after {
      content: "laravel"; }
    .about-popup__el_tec div:nth-child(5)::after {
      content: "Wordpress"; }

.about-popup__el_tec div:hover::after {
  top: 70px;
  opacity: 1;
  color: #1c1d25; }

.about-popup__el_tec div:hover:nth-child(1) {
  color: #ffff69; }

.about-popup__el_tec div:hover:nth-child(2) {
  color: #73ffff; }

.about-popup__el_tec div:hover:nth-child(3) {
  color: lightblue; }

.about-popup__el_tec div:hover:nth-child(4) {
  color: #ff5d5d; }

.about-popup__el_tec div:hover:nth-child(5) {
  color: #5ad6ff; }

.about-popup__black {
  border-radius: 0 10px 10px 0;
  color: #b8bad0;
  height: 100%;
  width: 50%;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.7);
  transition: ease 1s; }

.about-popup._active .about-popup__black {
  animation: blackPopup 1s ease; }

.about-popup__el_form {
  margin-bottom: 50px; }

.about-popup__form {
  width: 100%; }
  .about-popup__form input {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px #b8bad0 solid;
    color: white;
    width: 100%;
    height: 30px; }
    .about-popup__form input:not(:last-child) {
      margin-bottom: 20px; }
  .about-popup__form textarea {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px #b8bad0 solid;
    color: white;
    resize: none;
    width: 100%; }

.about-popup__name {
  font-size: 1.8rem; }

.about-popup__email {
  font-size: 1.8rem; }

.about-popup__mess {
  font-size: 1.8rem;
  margin-bottom: 5px; }

.section-rates {
  box-shadow: 0px -30px 30px rgba(0, 0, 0, 0.7);
  width: 100%;
  position: relative;
  padding-top: 80px;
  z-index: 2;
  background: url("/img/svg/rates-space.svg") center center, linear-gradient(171deg, #1c1d25, #0a0a0d);
  height: 100vh; }

.section-rates__ref {
  position: absolute;
  left: 50%;
  top: -80px;
  transform: translate(-50%, 0);
  font-size: 2.1rem;
  z-index: 0;
  cursor: pointer;
  transition: 0.3s ease;
  color: #b8bad0; }
  .section-rates__ref span {
    position: absolute;
    font-size: 3.2rem;
    font-weight: 200;
    animation: arrow ease 1s infinite alternate;
    margin-left: 10px;
    transition: 0.3s ease; }

._desk .section-rates__ref:hover {
  transform: translate(-50%, -10px) scale(1.5, 1.5);
  color: white; }

._desk .section-rates__ref:hover span {
  opacity: 0; }

.section-rates__container {
  padding: 0 25px;
  box-sizing: border-box; }

.section-rates__list {
  opacity: 0;
  transform: translate(10%, 0);
  transition: 1s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden; }

.section-rates__list._intersection {
  opacity: 1;
  transform: translate(0, 0); }

.section-rates__el {
  color: #b8bad0;
  padding: 20px; }
  .section-rates__el:nth-child(2) {
    background: -webkit-linear-gradient(61deg, #1c1d25, #0a0a0d);
    background: linear-gradient(61deg, #1c1d25, #0a0a0d); }
  .section-rates__el:nth-child(4) {
    background: -webkit-linear-gradient(61deg, #1c1d25, #0a0a0d);
    background: linear-gradient(61deg, #1c1d25, #0a0a0d); }

.section-rates__titlebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; }

.section-rates__title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #b8bad0; }

.section-rates__cross {
  width: 25px;
  height: 25px;
  position: relative;
  transition: 0.3s ease;
  cursor: pointer; }
  .section-rates__cross::after, .section-rates__cross::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #b8bad0;
    top: 50%;
    left: 0;
    transition: 0.3s ease; }
  .section-rates__cross::after {
    transform: translate(0, -50%) rotate(0deg); }
  .section-rates__cross::before {
    transform: translate(0, -50%) rotate(90deg); }

._desk .section-rates__cross:hover::after, ._desk .section-rates__cross:hover::before {
  background-color: white; }

.section-rates__cross._active {
  transform: rotate(45deg); }

.section-rates__text {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease; }

.section-rates__text._active {
  height: 40px; }

.section-rates__text_el {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 5px; }

.works {
  box-shadow: 0px -30px 30px rgba(0, 0, 0, 0.7);
  width: 100%;
  position: relative;
  z-index: 988;
  height: 100vh; }

.works-mob {
  display: none; }

.works-mob .works__container {
  height: 25%; }

.works__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 50%;
  transition: 2s ease; }

.works__container_1 {
  opacity: 0;
  transform: translate(-100%, 0); }

.works__container_2 {
  opacity: 0;
  transform: translate(100%, 0); }

.works__container_3 {
  opacity: 0;
  transform: translate(-100%, 0); }

.works__container_4 {
  opacity: 0;
  transform: translate(100%, 0); }

.works._intersection .works__container_1 {
  opacity: 1;
  transform: translate(0, 0); }

.works._intersection .works__container_2 {
  opacity: 1;
  transform: translate(0, 0); }

.works._intersection .works__container_3 {
  opacity: 1;
  transform: translate(0, 0); }

.works._intersection .works__container_4 {
  opacity: 1;
  transform: translate(0, 0); }

.works__container_1._disable {
  animation-play-state: paused; }

.works__container_2._disable {
  animation-play-state: paused; }

.works__card {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 350px;
  border-radius: 20px;
  height: 100%;
  width: 350px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.4);
  position: relative;
  background-color: #1c1d25;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s ease;
  overflow: visible; }
  .works__card:hover {
    transform: translate(0, -10px); }
    .works__card:hover .works__img img {
      animation: imgScroll 10s linear alternate infinite; }
    .works__card:hover .works__links {
      opacity: 1;
      transform: translate(0, -30px); }
    .works__card:hover::after {
      opacity: 1; }
  .works__card::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: ease 0.3s; }

.works-mob .works__links {
  font-size: 2.4rem; }

.works__links {
  position: absolute;
  bottom: 0px;
  right: 30px;
  transition: ease 0.3s;
  opacity: 0;
  font-size: 3.7rem;
  color: #b8bad0;
  text-shadow: 0 0 10px black;
  z-index: 100; }
  .works__links a {
    color: inherit; }
  .works__links div:not(:last-child) {
    margin-bottom: 20px; }
  .works__links div {
    transition: ease 0.3s; }

._desk .works__links div:hover {
  transform: scale(1.2, 1.2);
  color: white; }

.works__img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }
  .works__img img {
    width: 100%;
    height: 400%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover; }

.works__text {
  align-self: flex-start; }

.works__title {
  color: white;
  font-size: 3.2rem;
  margin-bottom: 0; }
  .works__title a {
    color: inherit; }

.works__paragraph {
  font-weight: 300;
  color: white;
  font-size: 1.4rem;
  margin-bottom: 0; }

.section-tec {
  background: url("../img/svg/tec.svg") repeat, linear-gradient(-171deg, #1c1d25, #0a0a0d);
  position: relative;
  z-index: 100;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  height: 100vh; }

.section-tec__ref {
  position: absolute;
  left: 50%;
  bottom: 59px;
  transform: translate(-50%, 0);
  font-size: 2.1rem;
  z-index: 0;
  cursor: pointer;
  transition: 0.3s ease;
  color: #b8bad0; }
  .section-tec__ref span {
    position: absolute;
    font-size: 3.2rem;
    font-weight: 200;
    animation: arrow ease 1s infinite alternate;
    margin-left: 10px;
    transition: 0.3s ease; }

._desk .section-tec__ref:hover {
  transform: translate(-50%, -5px) scale(1.5, 1.5);
  color: white; }

._desk .section-tec__ref:hover span {
  opacity: 0; }

._desk .section-tec__ref::after {
  height: 45px; }

._ref::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 35px;
  height: 45px;
  width: 1px;
  background-color: #b8bad0;
  transition: ease 0.3s; }

._desk ._ref:hover::after {
  height: 0; }

._ref._disable span {
  opacity: 0; }

.section-tec__container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  box-sizing: content-box; }

.section-tec__list {
  margin-top: -60px;
  width: 100%;
  transition: ease 1s;
  opacity: 0;
  transform: translate(-10%, 0);
  border-radius: 10px;
  padding: 40px 10px;
  box-sizing: content-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background: -webkit-linear-gradient(171deg, #1c1d25, #0a0a0d);
  background: url("../img/svg/tecBlack.svg"), linear-gradient(171deg, #1c1d25, #0a0a0d); }

.section-tec__list._intersection {
  transform: translate(0, 0);
  opacity: 1; }

.section-tec__list_title {
  text-align: center;
  font-size: 5.2rem;
  margin-bottom: 100px;
  font-weight: 600;
  color: #b8bad0; }

.section-tec__el {
  display: flex;
  justify-content: space-around; }
  .section-tec__el:not(:last-child) {
    margin-bottom: 30px; }
  .section-tec__el div {
    font-size: 7.2rem;
    color: #b8bad0;
    position: relative;
    transition: 0.3s ease; }
    .section-tec__el div::after {
      text-align: center;
      display: block;
      margin-top: 10px;
      top: 20px;
      left: 0;
      font-size: 1.8rem;
      color: white;
      transform: translate(0, 20px);
      opacity: 0;
      transition: 0.3s ease; }
    .section-tec__el div:hover::after {
      transform: translate(0, 0);
      opacity: 1; }
    .section-tec__el div:nth-child(1)::after {
      content: "JS | TS"; }
    .section-tec__el div:nth-child(1):hover {
      color: #ffff69; }
    .section-tec__el div:nth-child(2)::after {
      content: "React"; }
    .section-tec__el div:nth-child(2):hover {
      color: #73ffff; }
    .section-tec__el div:nth-child(3)::after {
      content: "Node"; }
    .section-tec__el div:nth-child(3):hover {
      color: #48ff48; }
    .section-tec__el div:nth-child(4)::after {
      content: "Express"; }
    .section-tec__el div:nth-child(4):hover {
      color: #5e5e5e; }
    .section-tec__el div:nth-child(5)::after {
      content: "HTML"; }
    .section-tec__el div:nth-child(5):hover {
      color: #ff5500; }
    .section-tec__el div:nth-child(6)::after {
      content: "CSS"; }
    .section-tec__el div:nth-child(6):hover {
      color: #5252ca; }

.section-tec__el_2 div:nth-child(1)::after {
  content: "PHP"; }

.section-tec__el_2 div:nth-child(1):hover {
  color: lightblue; }

.section-tec__el_2 div:nth-child(2) {
  position: relative; }

.section-tec__el_2 div:nth-child(2)::before {
  content: "";
  border: white solid 2px;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  animation: tryHover ease 1.5s infinite; }

.section-tec__el_2 div:nth-child(2)::after {
  content: "Laravel"; }

.section-tec__el_2 div:nth-child(2):hover {
  color: #ff5d5d; }

.section-tec__el_2 div:nth-child(3)::after {
  content: "WP"; }

.section-tec__el_2 div:nth-child(3):hover {
  color: #5ad6ff; }

.section-tec__el_2 div:nth-child(4)::after {
  content: "Python"; }

.section-tec__el_2 div:nth-child(4):hover {
  color: lightgreen; }

.section-tec__el_2 div:nth-child(5)::after {
  content: "Docker"; }

.section-tec__el_2 div:nth-child(5):hover {
  color: #4040ff; }

.section-tec__el_2 div:nth-child(6)::after {
  content: "Linux "; }

.section-tec__el_2 div:nth-child(6):hover {
  color: white; }

.section-tec__el_2._disable div:nth-child(2)::before {
  display: none;
  animation: none; }

::-webkit-scrollbar {
  width: 14px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  background-color: #1c1d25; }

/* ползунок скроллбара */
html, body {
  scrollbar-color: #222222 #1c1d25;
  /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
  /* толщина */ }
