@keyframes mobileMenu {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes contact {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes backUp {
  from {
    left: -1000px; }
  to {
    left: 0px; } }

@keyframes appear {
  from {
    opacity: 0;
    transform: translate(-10%, 0); }
  to {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes appearRev {
  from {
    opacity: 0;
    transform: translate(20%, 0); }
  to {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes worksConveer {
  from {
    transform: translate(-100%, 0); }
  to {
    transform: translate(100%, 0); } }

@keyframes worksConveerRev {
  from {
    transform: translate(100%, 0); }
  to {
    transform: translate(-100%, 0); } }

@keyframes buttonAttention {
  from {
    opacity: 1;
    transform: scale(1, 1); }
  to {
    transform: scale(1.2, 1.6);
    opacity: 0; } }

@keyframes imgScroll {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(0, -70%); } }

@keyframes refScale {
  from {
    height: 45px; }
  to {
    height: 0; } }

@keyframes arrow {
  from {
    transform: translate(0, -15px); }
  to {
    transform: translate(0, 15px); } }

@keyframes burgerArrow {
  from {
    transform: translate(-30px, -60%); }
  to {
    transform: translate(0px, -60%); } }

@keyframes title {
  from {
    transform: translate(-50%, 0); }
  to {
    transform: translate(-50%, -10%); } }

@keyframes back {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes whitePopup {
  from {
    transform: translate(0, -200%); }
  to {
    transform: translate(0, 0); } }

@keyframes blackPopup {
  from {
    transform: translate(0, 200%); }
  to {
    transform: translate(0, 0); } }

@keyframes whitePopupMob {
  from {
    transform: translate(-200%, 0); }
  to {
    transform: translate(0, 0); } }

@keyframes blackPopupMob {
  from {
    transform: translate(200%, 0); }
  to {
    transform: translate(0, 0); } }

@keyframes firstLettersUp {
  from {
    transform: translate(0, 3px); }
  to {
    transform: translate(0, -3px); } }

@keyframes firstLettersDown {
  from {
    transform: translate(0, -3px); }
  to {
    transform: translate(0, 3px); } }

@keyframes firstLettersUpPar {
  from {
    transform: translate(0, 1px); }
  to {
    transform: translate(0, -1px); } }

@keyframes firstLettersDownPar {
  from {
    transform: translate(0, -1px); }
  to {
    transform: translate(0, 1px); } }
