/*Drop*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
html {
  font-family: "PT sans", Helvetica, Arial, sans-serif;
  color: white;
  scroll-behavior: smooth; }

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  transition: ease 0.3s; }

._container {
  max-width: 1076px;
  margin: 0 auto; }

._section {
  margin-bottom: 50px; }

.title {
  font-size: 7.8rem;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 50px; }

.paragraph {
  font-size: 2.4rem;
  margin-bottom: 30px; }

.button {
  height: 55px;
  width: 190px;
  font-size: 2.1rem;
  font-weight: 600;
  color: #1c1d25;
  transition: 0.3s ease;
  position: relative;
  border-radius: 10px;
  background: -webkit-linear-gradient(60deg, cyan, #6fffff, #b7ffff);
  background: linear-gradient(60deg, cyan, #8affff, #b7ffff); }
  .button:hover::after {
    animation: none; }

._desk .button:hover {
  box-shadow: -5px -5px 0 rgba(0, 255, 255, 0.6), -10px -10px 0 rgba(0, 255, 255, 0.3); }

.img {
  box-shadow: 0 0 20px black;
  margin-bottom: 0;
  position: relative; }
  .img::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }

.img__img {
  width: 100%;
  height: 700px;
  position: relative; }
  .img__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
