@import "./vars.scss";
@import "./tech.scss";

body._scrollDisable {
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}
// First
.first {
    background-color: $mainDark;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    transition: $hoverTrans;
    position: relative;
    margin-bottom: 0;
    height: 100vh;
    

}
.first__paral_top {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: url(../img/svg/spaceBot.svg);
    //background-size: 30%;
    ._mobile & {
        animation: backUp ease 4s infinite alternate;
    }
    
}
.first__paral_bot {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: url(../img/svg/spaceTop.svg);
    //background-size: 70%;
    
    ._mobile & {
        animation: backUp ease 4s infinite alternate-reverse;
    }
}
.first__text {
    z-index: 1;
}
.first__container {
    z-index: 2;
    display: flex;
    flex-grow: 1;
    padding-left: 100px;
    justify-content: space-between;
    align-items: center;
    

}
.first__title {
    letter-spacing: 2px;
    line-height: 70px;
}
.first__paragraph {
    font-style: italic;
    color: $subLightText;
    font-weight: 300;
}
.first__button {
}
.first__contacts {
    margin-right: 60px;
    z-index: 20;
}
.first__el {
    font-size: 2.4rem;
    color: $subLightText;
    cursor: pointer;
    transition: $hoverTrans;
    & a {
        color: inherit;
    }
    &:hover {
        color: white;
    }
    &:not(:last-child) {
        margin-bottom: 25px;
    }
}
// .first__img {
//     width: 1000px;
//     height: 1000px;
// }

// Contact PopUp
.contact-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1076px;
    height: 600px;
    z-index: 1000;
    display: none;
}

.contact-popup__cross_mobile {
    display: none;
}

.contact-popup__cross {
    // display: none;
    // z-index: 200;
    // animation: popUp_black 1s ease;
    // &.contact-popup__cross_active {
    //     display: block;
    // }
    position: fixed;
    width: 30px;
    height: 30px;
    top: 40px;
    right: 40px;
    cursor: pointer;
    &::before, &::after {
        content: "";
        background-color: white;
        width: 100%;
        height: 10%;
        position: absolute;
        top: 50%;
        transition: $hoverTrans ease;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
    &:hover {
        &::before {
            transform: rotate(135deg);
        }
        &::after {
            transform: rotate(-135deg);
        }
    }

}

.contact-popup__white {
    background-color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: popUp 1s ease;
    border-radius: $blockRadius 0 0 $blockRadius;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}
.contact-popup__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 450px;
}
.contact-popup__title {
    font-size: 4.2rem;
    align-self: flex-start;
    color: black;
    margin-bottom: -20px;
 
}
.contact-popup__subtitle {
    font-size: 1.8rem;
    align-self: flex-start;
    color: black;
    font-weight: 400;
}
.contact-popup__paragraph {
    font-size: 2.1rem;
    color: $subDarkText;
    & span {
        color: aquamarine;
    }
    margin-bottom: 0;
}

.contact-popup__tech {
    display: flex;
    width: 100%;
    justify-content: space-between;
    transform: translate(0, 30px);
}
.contact-popup__el {
    color: $mainDark;
    font-size: $techSize;
    transition: ease $hoverTrans;

    &:nth-child(1)::after {
        content: "React";
        display: block;
        opacity: 0;
        font-size: 1.5rem;
        text-align: center;
        transition: ease $hoverTrans;
        transform: translate(0, 20px);
    }
    &:nth-child(1):hover::after {
        content: "React";
        opacity: 1;
        transform: translate(0, 0);
        color: black;
    }
    &:nth-child(1):hover {
        color: aqua;
    }

    &:nth-child(2)::after {
        content: "JS";
        display: block;
        opacity: 0;
        font-size: 1.5rem;
        text-align: center;
        transition: ease $hoverTrans;
        transform: translate(0, 20px);
    }
    &:nth-child(2):hover::after {
        content: "JS";
        opacity: 1;
        transform: translate(0, 0);
        color: black;
    }
    &:nth-child(2):hover {
        color: yellow;
    }

    &:nth-child(3)::after {
        content: "Web";
        display: block;
        opacity: 0;
        font-size: 1.5rem;
        text-align: center;
        transition: ease $hoverTrans;
        transform: translate(0, 20px);
    }
    &:nth-child(3):hover::after {
        content: "Web";
        opacity: 1;
        transform: translate(0, 0);
        color: black;
    }
    &:nth-child(3):hover {
        color: red;
    }

    &:nth-child(4)::after {
        content: "Figma";
        display: block;
        opacity: 0;
        font-size: 1.5rem;
        text-align: center;
        transition: ease $hoverTrans;
        transform: translate(0, 20px);
    }
    &:nth-child(4):hover::after {
        content: "Figma";
        opacity: 1;
        transform: translate(0, 0);
        color: black;
    }
    &:nth-child(4):hover {
        color: greenyellow;
    }

    &:nth-child(5)::after {
        content: "Docker";
        display: block;
        opacity: 0;
        font-size: 1.5rem;
        text-align: center;
        transition: ease $hoverTrans;
        transform: translate(0, 20px);
    }
    &:nth-child(5):hover::after {
        content: "Docker";
        opacity: 1;
        transform: translate(0, 0);
        color: black;
    }
    &:nth-child(5):hover {
        color: blue;
    }
    // &:not(:last-child) {
    //     margin-right: 20px;
    // }
}

// Black
.contact-popup__black {
    background-color: $mainDark;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: popUp_black 1s ease;
    border-radius: 0 $blockRadius $blockRadius 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-black__black_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
    width: 400px;
    height: 450px;
}

.contact-popup__title-black {
    font-size: 4.2rem;
    align-self: flex-start;
    color: white;
    margin-bottom: 10px;
}
.contact-popup__subtitle-black {
    font-size: 1.8rem;
    align-self: flex-start;
    color: white;
    font-weight: 400;
}
.contact-popup__form {
    font-size: 1.8rem;
    align-self: flex-start;
    & input {
        margin-bottom: 20px;
        width: 400px;
        height: 30px;
        background: none;
        border-bottom: 2px white solid;
        color: white;
    }
    & textarea {
        margin-top: 5px;
        margin-bottom: 20px;
        width: 400px;
        height: 80px;
        background: none;
        border-bottom: 2px white solid;
        color: white;
    }
    & button {
        height: 50px;
        width: 180px;
    }
}
.contact-popup__back {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
    animation: contact ease 1s;
}
.contact-popup__back_active {
    display: block;
}

.contact-popup_active {
    display: flex;
    // unwrappimg animation
    // overflow: hidden;
}
// contact popup mobile

// Works
.works__ref {
    position: absolute;
    color: $subLightText;
    font-size: 4.2rem;
    left: 50%;
    transform: translate(-50%, -110px);
    font-weight: 200;
    cursor: pointer;
    transition: ease $hoverTrans;
    &::after {
        content: "";
        display: block;
        height: 100px;
        width: 1px;
        background-color: white;
        margin: 10px auto;
        transition: ease $hoverTrans;
        //pointer-events: none;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    &:hover::after {
        height: 0;
    }
    &:hover {
        transform: translate(-50%, -130px) scale(1.3, 1.3);
        color: white;
    }
}
.works {
    box-shadow: 0px -30px 30px rgba(0,0,0, 0.7);
    background-color: $mainDark;
    width: 100%;
    position: relative;
    z-index: 988;
}
.works__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    

}
.card__pair {
    display: flex;
    position: relative;
    z-index: 4;
    width: 100%;
}


.works__card {
    border-radius: 20px;
    transform: translate(0, -20px);
    flex-grow: 1;
    width: 100%;
    height: 450px;
    box-shadow: -5px 0 10px rgba(0,0,0,0.4);
    position: relative;
    padding: 40px;
    background-color: $mainDark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: $hoverTrans ease;

    &:hover {
        transform: translate(0, -120px);
    }

    &:hover:nth-child(2n+1) {
        transform: translate(0, -120px);
    }

    &:nth-child(1) {
        z-index: 1;
        transform: translate(0, -10px);

    }
    &:nth-child(2) {
        z-index: 2;


    }
    &:nth-child(3) {
        z-index: 3;
        transform: translate(0, -10px);

    }
    &:nth-child(4) {
        z-index: 4;

    }

    &:nth-child(1)::before {
        content: "01";
    }
    &:nth-child(2)::before {
        content: "02";
    }
    

    &:hover::before {
        transform: translate(0, -80px);
        opacity: 1;
    }

    &::before {
        color: white;
        font-size: 12rem;
        position: absolute;
        font-weight: 700;
        right: 30px;
        top: 20px;
        opacity: 0;
        transition: ease 1s;
        z-index: 100;
        text-shadow: 0 0 10px rgba(0,0,0,1);
    }   
    // &::after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 10%;
    //     height: 100%;
    //     background: rgba(255,255,255,1);
    //     transition: ease 0.5s;
    //     opacity: 0;

    // }
    // &:hover::after {

    // }

    

}

.card__pair_2 {
    & .works__card:nth-child(1)::before {
        content: "03";
    }
    & .works__card:nth-child(2)::before {
        content: "04";
    }
}

.works__img {
    box-shadow: 0 0 10px black;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    & img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
    }
}
.works__text {
    align-self: flex-start;
}
.works__title {
    color: white;
    font-size: 3.2rem;
    margin-bottom: 0;
    & a {
        color: inherit;
    }
}
.works__paragraph {
    font-weight: 300;
    color: white;
    font-size: 1.4rem;
    margin-bottom: 0;
}




// White theme

body._white {
    & .first {
        background-color: white;
        color: black;
    }
    & .header {
        color: black;
    }
    & .header__el {
        color: black;
    }
    & i {
        color: black;
    }
}

// Media
