@import "./vars.scss";
@import "./tech.scss";

body._scrollDisable {
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}


// mobile-menu 
.mobile-menu {
    position: fixed;
    height: 100%;
    width: 70px;
    right: -70px;
    top: 0;
    z-index: 1000;
    @extend %backGrad;
    transition: ease $hoverTrans;
    box-shadow: -10px 0 10px rgba(0,0,0,0.5)
}
.mobile-menu._active {
    right: 0;
}

.mobile-menu__burger_container {
    position: absolute;
    top: 50px;
    left: -50px;
    width: 50px;
    height: 50px;
    background-color: #1c1d25;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: $blockRadius 0 0 $blockRadius;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-menu__burger {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: $hoverTrans ease;

    span, &::before, &::after {
        height: 2px;
        position: absolute;
        width: 100%;
        background-color: white;
        transition: $hoverTrans ease;

    }
    span {
        top: 50%;
        transform: translate(0, -50%);
    }
    &::before, &::after {
        content: "";
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
}

.mobile-menu__burger._active {
    span {
        opacity: 0;
    }
    &::before {
        top: 50%;
        transform: translate(0, -50%) rotate(45deg);
    }
    &::after {
        transform: translate(0, 50%) rotate(-45deg);
        bottom: 50%;
    }
}
.mobile-menu__contacts {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li:not(:last-child) {
        margin-bottom: 25px;
    }
    li {
        font-size: 2.7rem;
    }
    li a {
        color: inherit;
    }
}


// First
.first {
    // background-color: $mainDark;
    @extend %backGrad;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    transition: $hoverTrans;
    position: relative;
    margin-bottom: 0;
    height: 100vh;
    

}
.first__paral_top {
    width: 400%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -1000px;
    z-index: 0;
    background: url(../img/svg/spaceBot.svg);
    //background-size: 30%;
    & {
        animation: backUp linear 70s infinite alternate;
    }
    
}
.first__paral_bot {
    width: 400%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -1000px;
    z-index: 0;
    background: url(../img/svg/spaceTop.svg);
    //background-size: 70%;
    
    & {
        animation: backUp linear 70s infinite alternate-reverse;
    }
}
.first__text {
    z-index: 1;
}
.first__container {
    z-index: 2;
    display: flex;
    flex-grow: 1;
    padding-left: 100px;
    justify-content: space-between;
    align-items: center;
}

.first__container._intersection {
    // animation: appear ease 2s;
}

.first__title {
    letter-spacing: 2px;
    line-height: 70px;

    animation: appear ease 1s;
    
}
.first__paragraph {
    font-style: italic;
    color: $subLightText;
    font-weight: 300;

    animation: appear ease 1.3s;
}
.first__button {
    margin-top: 40px;
    animation: appear ease 1.5s;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 2px solid rgba(0, 255, 255, 0.5);
        border-radius: $buttonRadius;
        animation: buttonAttention ease 1.5s infinite;
    }
    
}
.first__contacts {
    // margin-right: 1000px;
    z-index: 20;
}
.first__el {
    font-size: 2.4rem;
    color: $subLightText;
    cursor: pointer;
    transition: $hoverTrans;
    & a {
        color: inherit;
    }
    &:hover {
        color: white;
    }
    &:not(:last-child) {
        margin-bottom: 25px;
    }
}
// .first__img {
//     width: 1000px;
//     height: 1000px;
// }

// Contact PopUp
.contact-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1076px;
    height: 600px;
    z-index: 1000;
    display: none;
}

.contact-popup__cross_mobile {
    display: none;
}

.contact-popup__cross {
    // display: none;
    // z-index: 200;
    // animation: popUp_black 1s ease;
    // &.contact-popup__cross_active {
    //     display: block;
    // }
    position: fixed;
    width: 30px;
    height: 30px;
    top: 40px;
    right: 40px;
    cursor: pointer;
    &::before, &::after {
        content: "";
        background-color: white;
        width: 100%;
        height: 2px;
        position: absolute;
        top: 50%;
        transition: $hoverTrans ease;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
    &:hover {
        &::before {
            transform: rotate(135deg);
        }
        &::after {
            transform: rotate(-135deg);
        }
    }

}

.contact-popup__white {
    background-color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: popUp 1s ease;
    border-radius: $blockRadius 0 0 $blockRadius;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}
.contact-popup__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 450px;
}
.contact-popup__title {
    font-size: 4.2rem;
    align-self: flex-start;
    color: black;
    margin-bottom: -20px;
 
}
.contact-popup__subtitle {
    font-size: 1.8rem;
    align-self: flex-start;
    color: black;
    font-weight: 400;
}
.contact-popup__paragraph {
    font-size: 2.1rem;
    color: $subDarkText;
    & span {
        color: aquamarine;
    }
    margin-bottom: 0;
}

.contact-popup__tech {
    display: flex;
    width: 100%;
    justify-content: space-between;
    transform: translate(0, 30px);
}
.contact-popup__el {
    color: $mainDark;
    font-size: $techSize;
    transition: ease $hoverTrans;

    &:nth-child(1)::after {
        content: "React";
        display: block;
        opacity: 0;
        font-size: 1.5rem;
        text-align: center;
        transition: ease $hoverTrans;
        transform: translate(0, 20px);
    }
    &:nth-child(1):hover::after {
        content: "React";
        opacity: 1;
        transform: translate(0, 0);
        color: black;
    }
    &:nth-child(1):hover {
        color: aqua;
    }

    &:nth-child(2)::after {
        content: "JS";
        display: block;
        opacity: 0;
        font-size: 1.5rem;
        text-align: center;
        transition: ease $hoverTrans;
        transform: translate(0, 20px);
    }
    &:nth-child(2):hover::after {
        content: "JS";
        opacity: 1;
        transform: translate(0, 0);
        color: black;
    }
    &:nth-child(2):hover {
        color: yellow;
    }

    &:nth-child(3)::after {
        content: "Web";
        display: block;
        opacity: 0;
        font-size: 1.5rem;
        text-align: center;
        transition: ease $hoverTrans;
        transform: translate(0, 20px);
    }
    &:nth-child(3):hover::after {
        content: "Web";
        opacity: 1;
        transform: translate(0, 0);
        color: black;
    }
    &:nth-child(3):hover {
        color: red;
    }

    &:nth-child(4)::after {
        content: "Figma";
        display: block;
        opacity: 0;
        font-size: 1.5rem;
        text-align: center;
        transition: ease $hoverTrans;
        transform: translate(0, 20px);
    }
    &:nth-child(4):hover::after {
        content: "Figma";
        opacity: 1;
        transform: translate(0, 0);
        color: black;
    }
    &:nth-child(4):hover {
        color: greenyellow;
    }

    &:nth-child(5)::after {
        content: "Docker";
        display: block;
        opacity: 0;
        font-size: 1.5rem;
        text-align: center;
        transition: ease $hoverTrans;
        transform: translate(0, 20px);
    }
    &:nth-child(5):hover::after {
        content: "Docker";
        opacity: 1;
        transform: translate(0, 0);
        color: black;
    }
    &:nth-child(5):hover {
        color: blue;
    }
    // &:not(:last-child) {
    //     margin-right: 20px;
    // }
}

// Black
.contact-popup__black {
    @extend %backGrad;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: popUp_black 1s ease;
    border-radius: 0 $blockRadius $blockRadius 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-black__black_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
    width: 400px;
    height: 450px;
}

.contact-popup__title-black {
    font-size: 4.2rem;
    align-self: flex-start;
    color: white;
    margin-bottom: 10px;
}
.contact-popup__subtitle-black {
    font-size: 1.8rem;
    align-self: flex-start;
    color: white;
    font-weight: 400;
}
.contact-popup__form {
    font-size: 1.8rem;
    align-self: flex-start;
    & input {
        margin-bottom: 20px;
        width: 400px;
        height: 30px;
        background: none;
        border-bottom: 2px white solid;
        color: white;
    }
    & textarea {
        margin-top: 5px;
        margin-bottom: 20px;
        width: 400px;
        height: 80px;
        background: none;
        border-bottom: 2px white solid;
        color: white;
    }
    & button {
        height: 50px;
        width: 180px;
    }
}
.contact-popup__back {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
    animation: contact ease 1s;
}
.contact-popup__back_active {
    display: block;
}

.contact-popup_active {
    display: flex;
    // unwrappimg animation
    // overflow: hidden;
}
// contact popup mobile

// rates
.section-rates {
    box-shadow: 0px -30px 30px rgba(0,0,0, 0.7);
    width: 100%;
    // @extend %backGrad;
    position: relative;
    padding-top: 80px;

    // background: -webkit-linear-gradient(171deg, #1c1d25,#0a0a0d);
    background: url("/img/svg/rates-space.svg") center center, linear-gradient(171deg, #1c1d25,#0a0a0d);

}
.section-rates__ref {
    position: absolute;
    left: 50%;
    top: -80px;
    transform: translate(-50%, 0);
    font-size: 2.1rem;
    z-index: 0;
    cursor: pointer;
    transition: $hoverTrans ease;
    &:hover {
        transform: translate(-50%, -20px) scale(1.5, 1.5);

    }
    &:hover::after {
        height: 0;
        animation: none;
    }
    &::after {
        content: "";
        position: absolute;
        display: block;
        left: 50%;
        top: 35px;
        transform: translate(-50%, 0);
        
        height: 45px;
        width: 1px;
        background-color: white;

        // animation: refScale ease 1s infinite alternate;
    }
}

.section-rates__container {
    height: 700px;
    padding: 0 50px;
    box-sizing: content-box;
}

.section-rates__list {
    
}
.section-rates__el {
    margin-bottom: 60px;
}
.section-rates__titlebox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.section-rates__title {
    font-size: 3rem;
    font-weight: 600;
}
.section-rates__cross {
    width: 25px;
    height: 25px;
    position: relative;
    transition: $hoverTrans ease;
    cursor: pointer;

    &:hover::after {
        // transform: translate(0, -50%);
    }

    &:hover::before {
        // transform: translate(0, -50%) rotate(90deg);
    }

    &::after, &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $mainLightText;
        top: 50%;
        left: 0;
        transition: $hoverTrans ease;
    }
    &::after {
        transform: translate(0, -50%) rotate(0deg);
    }
    &::before {
        transform: translate(0, -50%) rotate(90deg);
    }
}
.section-rates__cross._active {
    transform: rotate(45deg);
}
.section-rates__text {
    height: 0;
    overflow: hidden;
    transition: $hoverTrans ease;
}

.section-rates__text._active {
    height: 60px;
}
.section-rates__text_el {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 5px;
}
.section-rates__par {
}
.section-rates__price {
}


// Works
.works {
    box-shadow: 0px -30px 30px rgba(0,0,0, 0.7);
    // background-color: $mainDark;
    @extend %backGrad;
    width: 100%;
    position: relative;
    z-index: 988;
}



.works__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    animation: worksConveer 15s linear alternate infinite;

}

.works__container._disable {
    animation-play-state: paused;
}
.card__pair {
    display: flex;
    position: relative;
    z-index: 4;
    width: 100%;
}


.works__card {
    flex-shrink: 0;
    border-radius: 20px;
    // transform: translate(0, -20px);
    // flex-grow: 1;
    width: 350px;
    height: 350px;
    box-shadow: -5px 0 10px rgba(0,0,0,0.4);
    position: relative;
    // padding: 40px;
    background-color: $mainDark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: $hoverTrans ease;
    overflow: visible;

    &:hover {
        transform: translate(0, -70px);

        .works__img img {
            animation: imgScroll 10s linear alternate infinite;
            // transition: 10s ease;
            // transform: translate(0, -70%);
        }
    }


    &:nth-child(1)::before {
        content: "Свечи и ароматы";
        // font-size: 4rem;
    }
    // delegte
    &::before {
        content: "Свечи и ароматы";
        
    }
    
    &:hover::before {
        transform: translate(0, -60px);
        opacity: 1;
    }

    &::before {
        color: white;
        font-size: 3.7rem;
        position: absolute;
        font-weight: 700;
        right: 30px;
        top: 20px;
        opacity: 0;
        transition: ease 1s;
        z-index: 100;
        text-shadow: 0 0 10px rgba(0,0,0,1);
    }   

}

.works__img {
    // box-shadow: 0 0 10px black;
    // border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    // border-radius: 50%;
    & img {
        width: 100%;
        height: 400%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        
    }
}
.works__text {
    align-self: flex-start;
}
.works__title {
    color: white;
    font-size: 3.2rem;
    margin-bottom: 0;
    & a {
        color: inherit;
    }
}
.works__paragraph {
    font-weight: 300;
    color: white;
    font-size: 1.4rem;
    margin-bottom: 0;
}




// White theme

body._white {
    & .first {
        background-color: white;
        color: black;
    }
    & .header {
        color: black;
    }
    & .header__el {
        color: black;
    }
    & i {
        color: black;
    }
}

// Media
