@import "./vars.scss";
@import "./tech.scss";

// @media screen and (orientation:landscape) and (max-device-width: 900px) {
//     html{
//         -webkit-transform: rotate(-90deg);
//            -moz-transform: rotate(-90deg);
//             -ms-transform: rotate(-90deg);
//              -o-transform: rotate(-90deg);
//                 transform: rotate(-90deg);
//         -webkit-transform-origin: left top;
//            -moz-transform-origin: left top;
//             -ms-transform-origin: left top;
//              -o-transform-origin: left top;
//                 transform-origin: left top;
//         width: 320px; /*Разрешение экрана iPhone*/
//         position: absolute;
//         top: 100%;
//             left: 0
//     }
// }

@font-face {
    font-family: Cinzel;
    src: url("../fonts/cinzel.ttf");
}

body._scrollDisable {
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}


// mobile-menu 
.mobile-menu {
    position: fixed;
    height: 100%;
    width: 70px;
    right: -70px;
    top: 0;
    z-index: 1000;
    @extend %backGrad;
    transition: ease $hoverTrans;
    box-shadow: -10px 0 10px rgba(0,0,0,0.3)
}
.mobile-menu._active {
    right: 0;
}

.mobile-menu__burger_container {
    position: absolute;
    top: 70px;
    left: -50px;
    width: 50px;
    height: 50px;
    background-color: #1c1d25;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: $blockRadius 0 0 $blockRadius;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
        content: "→";
        position: absolute;
        left: -40px;
        top: 50%;
        transform: translate(0, -60%);
        color: $subLightText;
        font-size: 3.2rem;
        animation: burgerArrow ease 1s alternate infinite;
        transition: $hoverTrans ease;
    }
}
.mobile-menu__burger {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: $hoverTrans ease;

    span, &::before, &::after {
        height: 2px;
        position: absolute;
        width: 100%;
        background-color: $subLightText;
        transition: $hoverTrans ease;

    }
    span {
        top: 50%;
        transform: translate(0, -50%);
    }
    &::before, &::after {
        content: "";
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
}

._desk .mobile-menu__burger_container._hidden {
    &::after {
        opacity: 0;
    }
}

.mobile-menu__burger_container._disable {
    &::after {
        opacity: 0;
    }
}

._desk .mobile-menu__burger:hover {
    transform: scale(1.2, 1.2);
    span, &::before, &::after {
        background-color: white;
    }
}

.mobile-menu__burger._active {
    span {
        opacity: 0;
    }
    &::before {
        top: 50%;
        transform: translate(0, -50%) rotate(45deg);
    }
    &::after {
        transform: translate(0, 50%) rotate(-45deg);
        bottom: 50%;
    }
}
.mobile-menu__contacts {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li:not(:last-child) {
        margin-bottom: 25px;
    }
    li {
        font-size: 2.7rem;
        transition: ease $hoverTrans;
        color: $subLightText;
    }


    li a {
        color: inherit;
    }
}

._desk .mobile-menu__contacts {
    li:hover {
        transform: scale(1.2, 1.2);
        color: white;
    }
}

// First
.first {
    // background-color: $mainDark;
    @extend %backGrad;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    transition: $hoverTrans;
    position: relative;
    margin-bottom: 0;
    height: 100vh;
    

}
.first__paral_top {
    width: 400%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -1000px;
    z-index: 0;
    background: url(../img/svg/spaceBot.svg);
    //background-size: 30%;
    & {
        animation: backUp linear 70s infinite alternate;
    }
    
}
.first__paral_bot {
    width: 400%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -1000px;
    z-index: 0;
    background: url(../img/svg/spaceTop.svg);
    //background-size: 70%;
    
    & {
        animation: backUp linear 70s infinite alternate-reverse;
    }
}
.first__commet {
    display: none;
    position: absolute;
    // opacity: 0;
    top: -100px;
    left: 0;
    width: 600px;
    height: 600px;
    animation: commet infinite 30s ease 5s;
    
    left: -999;
    transform: rotate(-90deg) scale(4, 4);
    background: url(../img/svg/commet.svg) center;
}
.first__text {
    z-index: 1;
}
.first__container {
    z-index: 2;
    display: flex;
    flex-grow: 1;
    padding-left: 100px;
    justify-content: space-between;
    align-items: center;
}

.first__container._intersection {
    // animation: appear ease 2s;
}

.first__title {
    letter-spacing: 2px;
    line-height: 90px;
    display: flex;
    flex-wrap: wrap;
    div:first-child {
        margin-right: 20px;
    }
    animation: appear ease 1s;
    span {
        display: inline-block;
    }
    span:nth-child(odd) {
        animation: 2s firstLettersUp alternate infinite;
    }
    span:nth-child(even) {
        animation: 2s firstLettersDown alternate infinite;
    }
}
.first__paragraph {
    font-style: italic;
    color: $subLightText;
    font-weight: 300;

    animation: appear ease 1.3s;
    span {
        display: inline-block;
    }
    span:nth-child(even) {
        animation: 2s firstLettersUpPar alternate infinite;
    }
    span:nth-child(odd) {
        animation: 2s firstLettersDownPar alternate infinite;
    }
}
.first__button {
    margin-top: 40px;
    animation: appear ease 1.5s;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 2px solid rgba(0, 255, 255, 0.5);
        border-radius: $buttonRadius;
        animation: buttonAttention ease 1.5s infinite;
    }
    animation: buttonHover ease 2s alternate infinite;
}
.first__button._disable {
    &::after {
        display: none;
        opacity: 0;
    }
}
.first__contacts {
    // margin-right: 1000px;
    z-index: 20;
}
.first__el {
    font-size: 2.4rem;
    color: $subLightText;
    cursor: pointer;
    transition: $hoverTrans;
    & a {
        color: inherit;
    }
    &:hover {
        color: white;
    }
    &:not(:last-child) {
        margin-bottom: 25px;
    }
}

// about-popup
.back {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}
.back._active {
    
    display: block;

    animation: back 1s ease;
    // background-color: cyan;
}

.about-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1076px;
    height: 600px;
    z-index: 1000;

    display: flex;
    justify-content: space-between;

    display: none;
    
}
.about-popup._active {
    display: flex;
}
.about-popup__cross {
    cursor: pointer;
    width: 30px;
    height:30px;
    position: absolute;
    right: 40px;
    top: 40px;
    opacity: 0;
    transition: ease $hoverTrans;
    z-index: 1000;
    &::after, &::before {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 0;
        background-color: $subLightText;
        transition: ease $hoverTrans;

    }

    &::after {
        transform: translate(0, -50%) rotate(45deg);
    }
    &::before {
        transform: translate(0, -50%) rotate(-45deg);
    }

}

#mobCross {
    &::after, &::before { 
        background-color: $mainDark;
    }
    display: none;
}

.about-popup._active .about-popup__cross {
    opacity: 1;
}

._desk .about-popup__cross:hover {
    
    &::after {
        transform: rotate(-45deg) scale(1.2, 1.2);
        background-color: white;
    }
    &::before {
        transform: rotate(45deg) scale(1.2, 1.2);
        background-color: white;
    }
} 

    // white
.about-popup__white {
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    // background-color: white;
    background: url(../img/svg/whiteBack.svg) center center;
    color: $mainDark;
    border-radius: $blockRadius 0 0 $blockRadius; 

    height: 100%;
    width: 50%;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        color: $subColor;
    }

    transition: ease 1s;
}
.about-popup._active .about-popup__white {
    animation: whitePopup 1s ease;
}



.about-popup__list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    li {
        width: 100%;
    }
    
}
.about-popup__el {
}
.about-popup__el_title {
    font-size: 5.2rem;
    font-weight: 900;
    margin-bottom: 10px;
    
}
.about-popup__el_subtitle {
    font-size: 1.7rem;
    margin-bottom: 40px;
    font-weight: 500;
    
}
.about-popup__el_paragraph {
    font-size: 1.8rem;
    margin-bottom: 90px;
    font-weight: 100;
    // text-indent: 40px;
}
.about-popup__el_tec {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div:not(:last-child) {
        margin-right: 5px;
    }
    div {
        color: $mainDark;
        font-size: 6.2rem;
        cursor: pointer;
        position: relative;
        transition: ease $hoverTrans;

        &::after {
            content: "";
            font-size: 1.4rem;
            position: absolute;
            display: block;
            top: 100px;
            left: 50%;
            transform: translate(-50%, 0);
            opacity: 0;
            text-align: center;
            transition: ease $hoverTrans;

        }

        &:nth-child(1)::after {
            content: "JS";
        }
        &:nth-child(2)::after {
            content: "React";
        }
        &:nth-child(3)::after {
            content: "PHP";
        }
        &:nth-child(4)::after {
            content: "laravel";
        }
        &:nth-child(5)::after {
            content: "Wordpress";
        }
    }
}
.about-popup__el_tec div:hover {
    
    &::after {
        top: 70px;
        opacity: 1;
        color: $mainDark;
    }

    &:nth-child(1) {
        color: rgb(255, 255, 105);
    }
    &:nth-child(2) {
        color: rgb(115, 255, 255);
    }
    &:nth-child(3) {
        color: lightblue;
    }
    &:nth-child(4) {
        color: rgb(255, 93, 93);
    }
    &:nth-child(5) {
        color: rgb(90, 214, 255);
    }

}

.about-popup__el_tec:hover {

    &::after {

    }
}

    //black
.about-popup__black {
    @extend %backGrad; 
    border-radius: 0 $blockRadius $blockRadius 0;
    color: $subLightText;
    height: 100%;
    width: 50%;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -5px 0 20px rgba(0,0,0,0.7);
    transition: ease 1s;

}
.about-popup._active .about-popup__black {
    animation: blackPopup 1s ease;
}
.about-popup__el_form {
    margin-bottom: 50px;
}
.about-popup__form {    
    width: 100%;
    input {
        background-color: rgba(0,0,0,0);
        border-bottom: 1px $subLightText solid;
        color: white;
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        height: 30px;
        
    }
    textarea {
        background-color: rgba(0,0,0,0);
        border-bottom: 1px $subLightText solid;
        color: white;
        resize: none;

        width: 100%;
    }
}
.about-popup__name {
    font-size: 1.8rem;
}
.about-popup__email {
    font-size: 1.8rem;
}
.about-popup__mess {
    font-size: 1.8rem;
    margin-bottom: 5px;
}
.about-popup__el_button {
}
.about-popup__button {
}



// rates
.section-rates {
    box-shadow: 0px -30px 30px rgba(0,0,0, 0.7);
    width: 100%;
    // @extend %backGrad;
    position: relative;
    padding-top: 80px;
    z-index: 2;
    // background: -webkit-linear-gradient(171deg, #1c1d25,#0a0a0d);
    background: url("/img/svg/rates-space.svg") center center, linear-gradient(171deg, #1c1d25,#0a0a0d);
    height: 100vh;
}
.section-rates__ref {
    position: absolute;
    left: 50%;
    top: -80px;
    transform: translate(-50%, 0);
    font-size: 2.1rem;
    z-index: 0;
    cursor: pointer;
    transition: $hoverTrans ease;
    color: $subLightText;

    span {
        // display: inline-block;
        position: absolute;
        font-size: 3.2rem;
        font-weight: 200;
        animation: arrow ease 1s infinite alternate;
        margin-left: 10px;
        transition: $hoverTrans ease;
    }
    
}

._desk .section-rates__ref {
    &:hover {
        transform: translate(-50%, -10px) scale(1.5, 1.5);
        color: white;
        
    }
    
    &:hover span {
        opacity: 0;
    }
}


.section-rates__container {
    
    padding: 0 25px;
    box-sizing: border-box;
}

.section-rates__list {
    opacity: 0;
    transform: translate(10%, 0);
    transition: $appear ease;
    // transition-delay: 0.5s;
    // background-color: rgba(0,0,0,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: $blockRadius;
    overflow: hidden;
}

.section-rates__list._intersection {
    // animation: appearRev 1s ease;
    opacity: 1;
    transform: translate(0, 0);
    // background-color: red;
} 

.section-rates__el {
    // margin-bottom: 30px;
    color: $subLightText;
    @extend %backGrad;
    padding: 20px;
    &:nth-child(2) {
        background: -webkit-linear-gradient(61deg, #1c1d25,#0a0a0d);
        background: linear-gradient(61deg, #1c1d25,#0a0a0d);
    }
    
    &:nth-child(4) {
        background: -webkit-linear-gradient(61deg, #1c1d25,#0a0a0d);
        background: linear-gradient(61deg, #1c1d25,#0a0a0d);
    }
}
.section-rates__titlebox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.section-rates__title {
    font-size: 2.4rem;
    font-weight: 600;
    color: $subLightText;
}
.section-rates__cross {
    width: 25px;
    height: 25px;
    position: relative;
    transition: $hoverTrans ease;
    cursor: pointer;

    &:hover::after {
        // transform: translate(0, -50%);
    }

    &:hover::before {
        // transform: translate(0, -50%) rotate(90deg);
    }

    &::after, &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $subLightText;
        top: 50%;
        left: 0;
        transition: $hoverTrans ease;
    }
    &::after {
        transform: translate(0, -50%) rotate(0deg);
    }
    &::before {
        transform: translate(0, -50%) rotate(90deg);
    }
}
._desk .section-rates__cross:hover {
    // width: 28px;
    // height: 28px;
    &::after, &::before {
        background-color: white;
    }
}

.section-rates__cross._active {
    transform: rotate(45deg);
}
.section-rates__text {
    height: 0;
    overflow: hidden;
    transition: $hoverTrans ease;
}

.section-rates__text._active {
    height: 40px;
}
.section-rates__text_el {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 5px;
}
.section-rates__par {
}
.section-rates__price {
}


// Works
.works {
    box-shadow: 0px -30px 30px rgba(0,0,0, 0.7);
    // background-color: $mainDark;
    @extend %backGrad;
    width: 100%;
    position: relative;
    z-index: 988;
    height: 100vh;
}

.works-mob {
    display: none;
}
.works-mob .works__container {
    height: 25%;
}


.works__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 50%;
    transition: $conveerSpeed ease;
}

.works__container_1 {
    opacity: 0;
    transform: translate(-100%, 0);

}
.works__container_2 {
    opacity: 0;
    transform: translate(100%, 0);
    
}
.works__container_3 {
    opacity: 0;
    transform: translate(-100%, 0);

}
.works__container_4 {
    opacity: 0;
    transform: translate(100%, 0);
    
}

.works._intersection .works__container_1 {
    opacity: 1;
    transform: translate(0, 0);

}
.works._intersection .works__container_2 {
    opacity: 1;
    transform: translate(0, 0);
}
.works._intersection .works__container_3 {
    opacity: 1;
    transform: translate(0, 0);

}
.works._intersection .works__container_4 {
    opacity: 1;
    transform: translate(0, 0);
}



.works__container_1._disable {
    animation-play-state: paused;
}
.works__container_2._disable {
    animation-play-state: paused;
}

.works__card {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 350px;
    border-radius: 20px;
    // transform: translate(0, -20px);
    height: 100%;
    width: 350px;
    // flex-grow: 1;
    box-shadow: -5px 0 10px rgba(0,0,0,0.4);
    position: relative;
    // padding: 40px;
    background-color: $mainDark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: $hoverTrans ease;
    overflow: visible;

    &:hover {
        // transform: translate(0, -15px);

        .works__img img {
            animation: imgScroll 10s linear alternate infinite;
            // transition: 10s ease;
            // transform: translate(0, -70%);
            
        }

        .works__links {
            opacity: 1;
            transform: translate(0, -30px);
        }
        &::after {
            opacity: 1;
        }
    }

    // Darker
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0,0,0, 0.3);
        opacity: 0;
        transition: ease $hoverTrans;
    }

}
.works-mob .works__links {
    font-size: 2.4rem;
}
.works__links {
    position: absolute;
    bottom: 0px;
    right: 30px;
    a {
        color: inherit;
    }
    transition: ease $hoverTrans;
    opacity: 0;
    font-size: 3.7rem;
    color: $subLightText;
    text-shadow: 0 0 10px black;
    div:not(:last-child) {
        margin-bottom: 20px;
    }
    div {
        transition: ease $hoverTrans    ;
    }
    z-index: 100;
}
._desk .works__links div:hover {
    transform: scale(1.2, 1.2);
    color: white;
}



.works__img {
    // box-shadow: 0 0 10px black;
    // border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    // border-radius: 50%;
    & img {
        width: 100%;
        height: 400%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        
    }
}
.works__text {
    align-self: flex-start;
}
.works__title {
    color: white;
    font-size: 3.2rem;
    margin-bottom: 0;
    & a {
        color: inherit;
    }
}
.works__paragraph {
    font-weight: 300;
    color: white;
    font-size: 1.4rem;
    margin-bottom: 0;
}

// section-tec
.section-tec {
    // background: -webkit-linear-gradient(-171deg, #14151d,#0a0a0d);
    background: url("../img/svg/tec.svg") repeat, linear-gradient(-171deg, #1c1d25,#0a0a0d);
    position: relative;
    z-index: 100;
    box-shadow: 0 10px 20px rgba(0,0,0,.7);
    height: 100vh;
}

.section-tec__ref {
    position: absolute;
    left: 50%;
    bottom: 59px;
    transform: translate(-50%, 0);
    font-size: 2.1rem;
    z-index: 0;
    cursor: pointer;
    transition: $hoverTrans ease;
    color: $subLightText;

    span {
        position: absolute;
        font-size: 3.2rem;
        font-weight: 200;
        animation: arrow ease 1s infinite alternate;
        margin-left: 10px;
        transition: $hoverTrans ease;
    }
    
}

._desk .section-tec__ref {
    &:hover {
        transform: translate(-50%, -5px) scale(1.5, 1.5);
        color: white;
        
    }
    
    &:hover span {
        opacity: 0;
    }

    &::after {
        height: 45px;
    }
}

._ref {
    // animation: title ease 2s infinite alternate;

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 35px;
        height: 45px;
        width: 1px;
        background-color: $subLightText;
        transition: ease $hoverTrans;
        
    }
}

._desk ._ref {
    &:hover {
        &::after {
            height: 0;
        }
    }
}

._ref._disable {
    span {
        opacity: 0;
    }
}
.section-tec__container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    box-sizing: content-box;
}
.section-tec__list {
    margin-top: -60px;
    width: 100%;
    transition: ease $appear;
    opacity: 0;
    transform: translate(-10%, 0);
    
    border-radius: 10px;
    padding: 40px 10px;
    box-sizing: content-box;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);

    background: -webkit-linear-gradient(171deg, #1c1d25,#0a0a0d);
    background: url("../img/svg/tecBlack.svg"),linear-gradient(171deg, #1c1d25,#0a0a0d);
}
.section-tec__list._intersection {
    transform: translate(0, 0);
    opacity: 1;
}

.section-tec__list_title {
    text-align: center;
    font-size: 5.2rem;
    margin-bottom: 100px;
    font-weight: 600;
    color: $subLightText;
}

.section-tec__el {
    display: flex;
    justify-content: space-around;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    div {
        font-size: 7.2rem;
        color: $subLightText;
        position: relative;
        transition: $hoverTrans ease;
        &::after {
            // position: absolute;
            text-align: center;
            display: block;
            margin-top: 10px;
            top: 20px;
            left: 0;
            font-size: 1.8rem;
            color: white;
            transform: translate(0, 20px);
            opacity: 0;
            transition: $hoverTrans ease;
        }
        &:hover::after {
            transform: translate(0, 0);
            opacity: 1;
        }
        // 1
        &:nth-child(1)::after {
            content: "JS | TS";
        }
        &:nth-child(1):hover {
            color: rgb(255, 255, 105);
        }
        

        // 2
        &:nth-child(2)::after {
            content: "React";
        }
        &:nth-child(2):hover {
            color: rgb(115, 255, 255);
        }

        // 3
        &:nth-child(3)::after {
            content: "Node";
        }
        &:nth-child(3):hover {
            color: rgb(72, 255, 72);
        }

        // 4
        &:nth-child(4)::after {
            content: "Express";
        }
        &:nth-child(4):hover {
            color: rgb(94, 94, 94);
        }

        // 5
        &:nth-child(5)::after {
            content: "HTML";
        }
        &:nth-child(5):hover {
            color: rgb(255, 85, 0);
        }

        // 5
        &:nth-child(6)::after {
            content: "CSS";
        }
        &:nth-child(6):hover {
            color: rgb(82, 82, 202);
        }
    }
    
}


.section-tec__el_2 {
    // 2.1
    div {
        &:nth-child(1)::after {
            content: "PHP";
        }
        &:nth-child(1):hover {
            color: lightblue;
        }
        
        // 2.2
        // anim
        &:nth-child(2) {
            position: relative;
        }
        &:nth-child(2)::before {
            content: "";
            border: white solid 2px;
            border-radius: 50%;
            position: absolute;
            left: 40%;
            top: 40%;
            transform: translate(-50%, -50%);
            width: 0;
            height: 0;

            animation: tryHover ease 1.5s infinite;
        }
        &:nth-child(2)::after {
            content: "Laravel";
        }
        &:nth-child(2):hover {
            color: rgb(255, 93, 93);
        }

        // 2.3
        &:nth-child(3)::after {
            content: "WP";
        }
        &:nth-child(3):hover {
            color: rgb(90, 214, 255);
        }

        // 2.4
        &:nth-child(4)::after {
            content: "Python";
        }
        &:nth-child(4):hover {
            color: lightgreen;
        }

        // 2.5
        &:nth-child(5)::after {
            content: "Docker";
        }
        &:nth-child(5):hover {
            color: rgb(64, 64, 255);
        }

        // 2.6
        &:nth-child(6)::after {
            content: "Linux ";
        }
        &:nth-child(6):hover {
            color: white;
        }
    }
}
.section-tec__el_2._disable {
    div:nth-child(2)::before {
        display: none;
        animation: none;
    }
}

// scroll bar (for google and other)
::-webkit-scrollbar {
    width: 14px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: $mainDark;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    @extend %backGrad;
    // box-shadow: outset 0 0 20px rgba(0,0,0,0.8);
    // border-radius: 9em;
    // box-shadow: inset 1px 1px 10px #f3faf7;
}
// for mozilla
html, body {
    scrollbar-color: rgb(34, 34, 34) $mainDark; /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: thin;  /* толщина */
}

