@import "./vars.scss";

/*Drop*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:10px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

html {
    font-family: $fontFamily;
    color: rgb(255, 255, 255);
    // Плавная прокрутка
    scroll-behavior: smooth;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    transition: ease $hoverTrans;
    
}
// .wrapperBlur {
//     filter: blur(5px);
// }

._container {
    max-width: $containerWidth;
    margin: 0 auto;
}

._section {
    margin-bottom: $sectionBotMargin;
}

// Text
.title {
    font-size: 7.8rem;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 50px;
}
.paragraph {
    font-size: 2.4rem;
    margin-bottom: 30px;
}
// Button
.button {
    //background: linear-gradient(to right, rgb(52, 207, 156), rgb(140, 203, 182));
    // background: linear-gradient(to right, cyan, #b0ffff);
    height: 60px;
    width: 200px;
    font-size: 2.1rem;
    font-weight: 600;
    color: black;
    transition: $hoverTrans ease;
    position: relative;
    border-radius: $buttonRadius;
    // overflow: hidden;
    background: -webkit-linear-gradient(60deg, cyan,#6fffff,#b7ffff);
    background: linear-gradient(60deg, cyan,#8affff,#b7ffff);
    &::before {

    }
    &:hover {
        transform: scale(1.1, 1.1);
        box-shadow: -5px -5px 0 rgba(0, 255, 255, 0.6), -10px -10px 0 rgba(0, 255, 255, 0.3)
        
    }
    &:hover::after {
        animation: none;
        
    }


    // &::before {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     width: 40%;
    //     height: 300%;
    //     top: -60px;
    //     left: -200px;
    //     transition: $hoverTrans ease;
    //     background-color: rgba(255,255,255, 0.7);
    //     transform: rotate(45deg);
    // }
    
    // &:hover::before {
    //     transform: translate(450px, 0) rotate(45deg); 
    // }
}