// font
$fontFamily: Bitter, Helvetica,Arial,sans-serif;
$techSize: 5.4rem; 

// container
$containerWidth: 1076px; 

// Section
$sectionBotMargin: 50px;

// Colors
$mainDark: #1c1d25;


// $subDark: ; 
$mainLight: white;
$subLight: white;

$mainDarkText: black;
$subDarkText: rgb(58, 58, 58);
$mainLightText: White;
$subLightText: #b0b2c3;

$subColor: aquamarine;
$subGradient: aquamarine;

// transition
$hoverTrans: 0.3s;

// Border
$blockRadius: 10px;
$buttonRadius: 10px;

%backGrad {
    background: -webkit-linear-gradient(171deg, #1c1d25,#0a0a0d);
    background: linear-gradient(171deg, #1c1d25,#0a0a0d);
}
